@font-face {
    font-family: ProximaNova;
    src: url(../font/Milliard-Book.otf);
}

* {
    font-family: ProximaNova, serif;
    background: black;
    color: white;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 6vw;
    height: 2.2vw;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 2.2vw;
    width: 2.2vw;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(3.8vw);
    -ms-transform: translateX(3.8vw);
    transform: translateX(3.8vw);
}

@keyframes blink {
    50% { border-color: #ff0000; }
}

#password{ /*or other element you want*/
    animation: blink .5s step-end infinite alternate;
}